<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91372809532-6b017apb2k7k141gmtq4du184tdep0ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91372809532-6b017apb2k7k141gmtq4du184tdep0ub</string>
	<key>API_KEY</key>
	<string>AIzaSyA87mPIdShpqav2VHxFYV2dXMQpz5S4v2w</string>
	<key>GCM_SENDER_ID</key>
	<string>91372809532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UnitOneTask</string>
	<key>PROJECT_ID</key>
	<string>unitonetask</string>
	<key>STORAGE_BUCKET</key>
	<string>unitonetask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91372809532:ios:ec513fc4451544d10b0239</string>
</dict>
</plist>